body
{
    margin: 0px;
    padding: 0px;
}

li
{ 
    list-style: none;
}
.container
{
    margin: 0%;
    padding: 0%;
    width: 100%;
}

.navli
{
    vertical-align: middle;
    text-align: center;
    width: 12%;
    line-height: 40px;
    font-family: Georgia;
    font-weight: bold;
    background-color: #dbdbdb;
}
.nav1
{
    background-color: #dbdbdb;
    margin: 0px;
}
.shadow
{
    box-shadow: 6px 6px 6px darkgrey;
}
.title
{
    font-family: Cursive;
    text-align: center;
    text-decoration: none;
    font-size: 200%;
    color: black;
    font-style: italic;
}
.bgimg
{
    background-image: url(bg/IMG_20160917_133006.jpg);
}